@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

html {
    height: 800px;
    overflow: hidden;
}

body {
    height: 842px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1rem;
    width: 105%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.footer-nav{
    display:flex;
    justify-content: center;
    align-items: center;
}


.main {
    flex: 1;
    height: 600px;
    overflow-y: scroll;
    margin-left: 46px;
    margin-top: 10px;
}


.navbar {
  margin-left: 2%;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  width: 30px;
  height: 30px;
}

#profile {
  width: 33px;
  height: 33px;
  
  border-radius: 50%;  /* makes it circular */
  object-fit: cover;  
}

#bell {
  margin-right: 5%;
  width: 30px;
  height: 30px;
}

#title {
  padding-left: 10%;
  font-size: 7dvw;
  font-weight: bold;
  color: #2A60BA;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 999;
  display: none;
  position: absolute;
  margin-top: -223%;
  padding-top: 204%;
  margin-left: -57%;
  background-color: #0B4E92;
  width: 200px;
  height: 970px;
  
}

.dropdown-content a {
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  display: block;
}

.dropdown-content h2 {
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  display: block;
}


.back-arrow {
  display: none;
  position: absolute;
  margin-top: -20px;
  margin-left: 120px;
}


.show-menu {
  display: block;
}

.hide-menu {
  display: none;
}






input{
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    padding: 10% 10%;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    
}
.search-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: gray
    
}
.fas{
    padding: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 5px;
    width: 290px;
margin-left: 12.75px;
}

.frame-category {
        display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 320px;
    height: 270px;
    margin-top: 10px;
    border: #152C5C solid 2px;
    border-radius: 20px;
    margin-left: 2px;
}


.frame-category p{
    margin: 0 auto;
    margin-top: -15px;
}

.box-category{
    background-color: #152C5C;
    margin: 0 auto;
    margin-top: 15px;
    width: 290px;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: black 2px solid;
    color: white;
   
    
}

.container-category{
    height: 210px;
    overflow-y: scroll;
}



.icon{
    width: 40px;
    height: 40px;
    border: white solid 1.3px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin-left: 1px;
}

.icon-selected {
    filter: brightness(100%);
    border: 3px solid rgb(0, 255, 0);
}



#food{
    content: url("images/Food.png");
}

#sport{
    content: url("images/Sport.png");

}

#games{
    content: url("images/Games.png");
}

#wellness{
    content: url("images/Wellness.png");
}

#travel{
    content: url("images/Travel.png");
    filter: brightness(90%);
}

#cash{
    content: url("images/Cash.png");
    filter: brightness(90%);
}
#medical{
    content: url("images/Medical.png");
    filter: brightness(90%);
}

#computer{
    content: url("images/Computer.png");
    filter: brightness(90%);
}

.add-category-button{
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 48px;
    background-color: #8451AC;
    width: 210px;
    height: 40px;
    color: white;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
}

.box-chart{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.label-category{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 10px;
}

#name-label{
    width: 120px;
}

#limit-label{
    margin-left: 27px;
    margin-right: -30px;
}

#spent-label{
    margin-left: 58px;
}

.category-popup{
    background-color: white;
    width: 300px;
    height: 520px;
    border: 2px solid #152C5C;;
    border-radius: 20px ;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 19%;
    z-index: 1;
    transform: scale(0);
   
}



.category-popupactive{
    background-color: white;
    width: 300px;
    height: 500px;
    border: 2px solid #152C5C;;
    border-radius: 20px ;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 19%;
    z-index: 10;
        margin-left: -21px;
    transform: scale(1);
}


.category-popup h2 {
    font-size: 15px;
    margin-left: 25px;
}

.category-popup h1 {
    color: #152C5C;
    margin-left: 20px ;
}

.choose-icon{
    display: flex;
    justify-content: space-evenly;
}

.number_input{
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
    height: 30px;
    font-size: 10px;
    padding-left: 8px;
    margin-left: 25px;
}

.number_input::placeholder{
    color: #a3a1a1;
}

.end_operation{
    display:flex;
    width: 220px;
    height: 100px;
    align-items: center;
    padding-left: 34px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.cancel_button{
    height: 30px;
    width: 90px;
    margin-top: 10px;
    background-color:#ff0000c8;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    font-size: 11px;
    font-weight: 100;
    margin-left: -36px

}

.confirm_button{
    height: 30px;
    width: 90px;
    margin-top: 10px;
    background-color:#00BF63;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    font-size: 11px;
    font-weight: 100;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    z-index: 3;
    pointer-events: none;
}

.overlayactive{
    opacity: 1 ; 
    pointer-events: all;

}

.category-spent {
    width: 72px;
    text-align: center;
    font-size: 14px;
    height: 18px;
    border-radius: 5px;
    margin-top: 1px;
}

.warning-category-popup{
    background-color: white;
    width: 300px;
    height: 200px;
    border: 2px solid #152C5C;;
    border-radius: 20px ;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 10%;
    left: 19%;
    z-index: 10;
    margin-left: -15px;
}

.warning-category-popup h3 {
    margin-top: 40px;
}   

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* sfondo scuro trasparente */
    display: none; /* nascosto di default */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* sopra tutto */
}



.chart-section{
    border: #152C5C 2px solid;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    width: 310px;
    height: 291px;
    margin-left: 0px;
}

.chart-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
  margin-left: 0px;
}

.chart-tab {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 6px;
}

.chart-tab.active {
  background: #152C5C;
  color: white;
  font-weight: bold;
}
.category-limit{
        margin-right: -10px;
    margin-left: 4px;
    text-align: start;
    font-size: 14px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-bottom: 10px;

  position: relative;
  width: 100%;

}

.box-chart {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
}

.chart-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.chart-controls button {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  background: #e0e0e0;
  cursor: pointer;
  width: 80px;
}

.chart-title{
    margin-left: 25px;
}

.period-btn.active {
  background-color: #152C5C;
  color: #fff;
  font-weight: bold;
}


#tabBar{
  display: flex;
  justify-content: space-around;  /* distribuisce gli item */
  align-items: center;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 70px;
  background: #fff;
  z-index: 1;
}

.bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #000;
  cursor: pointer;
}

.bar-item img {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}

#topbar {
    margin-top: 8px;
    height: 3px;
    background: linear-gradient(135deg, #2575fc, #6a11cb);

}


#bottombar {
    height: 3px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    position: fixed;
        top: 843px;
    left: 0px;
    width: 100%;
}