@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    font-family: 'Inter', sans-serif;
}


body {
    margin: 0;
    padding: 20px;
}

.container {
    background: #fff;

    border-radius: 15px;
}

.back-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: none;
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: -5px;

    img{
       width: 40px;
       height: auto; 
    }
    .title{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    color: #8451AC;

}

}





.section {
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;

   label{
    color: white;
    font-size: 17px;
  }
}

form h3 {
    margin-top: 25px;
    color: #2A60BA;
    margin-bottom: 8px;
    font-size: 17px;
    font-size: 21px;
}

.section input[type="text"] {
    width: 95%;
    margin-right: auto;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    display: flex;
}

.section input[type="text"]:focus{
    outline: 1px solid #0B4E92;
    box-shadow: 0 0 10px #0B4E92;
}

.error{
  outline: 2px solid #ff9100;
    box-shadow: 0 0 10px #ff9100;
}


form{
    margin: auto 10px;
}


.section-blue { background: rgba(66, 133, 244, 0.68); }
.section-purple { background: #d8b3ff; }
.section-green { background: rgba(73, 201, 107, 0.55); }
.section-yellow { background: rgba(247, 159, 0, 0.53); }
.section-blue { background:  #2A60BA}
.section-purple { background: #475BB5; }
.section-green { background:#7254AE; }
.section-yellow { background: #8451AC; }

.hiddenName { display: none; }
.hiddenContact { display: none; }


.color-grid {
  margin-top: 5px; 
  margin-bottom: 5px; 
  display: flex;
  gap: 10px;
}

.color-grid img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid transparent;

}

/* Default icon look */
.color-option img {
  width: 30px;
  height: 30px;
  border: 4px solid #fdf6e6;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.2s;
  margin: 1px 0;
}

/* Highlight selected icon */
.color-option input:checked + img {
  border: 4px solid #2A60BA; /* blue border */
  margin: 0px;
}


.icon-grid {
  margin-top: 5px; 
  margin-bottom: 5px; 
  display: flex;
  gap: 15px;
}

.icon-grid img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid transparent;

}
/* hide default radio button */
.icon-option input,
.color-option input {
  display: none;
}

/* Default icon look */
.icon-option img {
  width: 40px;
  padding: 3px;
  height: 40px;
  border: 4px solid #fdf6e6;
  border: 4px solid #475BB5;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.2s;
  margin: 1px 0;
}

/* Highlight selected icon */
.icon-option input:checked + img {
  border: 4px solid #2A60BA; /* blue border */
  border: 4px solid #ffffff; /* blue border */
  margin: 0px;
}




.selectable.selected {
    border-color: #007BFF;
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-cancel, .btn-confirm {
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn-cancel { background: #8451AC; color: #fff; }
.btn-confirm { background: #8451AC; color: #fff; }


/* create_sw.css */
#popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(42, 95, 186);
  border: 1px solid #0B4E92;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;

  min-width: 200px;
  max-width: 400px;
}
#popup h3{
  text-align: center;
}

#popup h4{
  text-align: center;
}

#popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#popup li {
  margin: 5px 0;
  text-align: justify;
}

#popup button {
  background: #0B4E92;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 40%;
  margin-right: 40%;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.close-btn img {
  width: 100%;
  height: 100%;
}





.info-btn {

  border: none;
  background: none;
  width: 30px;
  height: 30px;
  margin-top: 6%;
  margin-bottom: -100px;
  margin-left: 5px;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: none;
  z-index: 1000;
  max-width: 200px;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}


.button{
  width: 180px;
  height: 40px;
  background-color: #2A60BA;
  text-align: center;
  border-radius: 30px;
  border: none;
  color: #fdf6e6;

}

.button-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


#addParetcipant{

}
#participantsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-partecipant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  margin-left: 35px;
}

#input-partecipant{
  width: 218px;
  margin-left: -2px;
}


.input-partecipant input {
  width: 240px;   /* stessa larghezza per tutti */
  height: 20px;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.red_bin {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 12%;
  margin-left: 15px;
}

.button-container button:disabled {
  background-color: #ccc;   /* grigio */
  cursor: not-allowed;
}


.role{
  margin-left: 10%;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

.help-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background 0.2s;
    margin-top: 23px;
    margin-left: 10px;
}

.help-btn:hover {
    background: #0056b3;
}


#popup-cancel {
    font-size: 11px;
    margin: 0 auto;
    margin-top: 10px;

    border-radius: 20px;
    width: 300px;
    height: 215px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 18%;
    z-index: 200;
    display: none;
}

#lose {
    height: 40px;
    width: 160px;
    margin-top: 10px;
    background-color: #ff0000c8;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 20px;
}

#keep {
    height: 40px;
    width: 160px;
    margin-top: 10px;
    background-color: #6f6f6fc8;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-width: 0px;
    font-size: 17px;
    font-weight: 100;


}




.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.overlayactive {
    opacity: 1;
    pointer-events: all;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}