@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    font-family: 'Inter', sans-serif;

    box-sizing: border-box;
}

html,
body {
    height: 800px;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1rem;
    width: 105%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    padding-bottom: 80px;
    height: 800px;
    overflow-y: scroll;
    margin: 0px 0px;
}

.navbar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.main::-webkit-scrollbar {
    width: 6px;
}

.main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#menu,
#bell {
    width: 30px;
    height: 30px;
}

.title {
    width: 205px;
    font-size: 20px;
    font-weight: bold;
    color: #152C5C;
    margin: 0 auto;
    margin-left: 110px;
}


#tabBar{
    left: 0%;
    position:absolute;
    bottom: -45%;
}




.hide {
    margin-top: 3%;
    padding-top: 0;
}

.show {
    z-index: 1;
    margin-top: 15%;
    margin-bottom: 20%;
}




.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    z-index: 999;
    display: none;
    position: absolute;
    margin-top:-233%;
    padding-top: 0%;
    margin-left: -57%;
    background-color: #0B4E92;
    width: 200px;
    height: 970px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  display: block;
}

.dropdown-content h2{
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  display: block;
}

.back-arrow{
    display: none;
    position: absolute;
    margin-top: -20px;
    margin-left: 120px;
    z-index: 9999;
}


.show-menu {display:block;}
.hide-menu {display: none;}


.box-chart{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.chart-buttons,
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.chart-buttons button,
.filter-buttons button {
  padding: 8px 16px;
  border: 2px solid #2A60BA;
  border-radius: 20px;
  background: white;
  color: #2A60BA;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.chart-buttons button.active,
.filter-buttons button.active {
  background: #2A60BA;
  color: white;
}
#main-chart,
#line-chart {
  width: 100%;   /* occupa tutta la larghezza del container */       /* limite massimo */
  min-height: 300px ;
  margin: 0 auto;           /* centrato */
  display: flex;
}